@{
    ViewBag.Title = "GitHub Search";
}

<header ng-include="'../Templates/Header.html'"></header>
<main ng-view></main>
<footer>
    <p>&copy; @DateTime.Now.Year &ndash; GitHub Search</p>
</footer>